@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

.imperial-redius{
    border-radius: 15px;
}
.imperial-padding{
    padding: 70px 0;
}